.square {
  background-color: #7babff;
  border-radius: 5px;
  border: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: rgb(140, 182, 255);
  color: white;
}

.playButton {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: white;
}

.x {
  color: #ffd37b;
}

.o {
  color: #ff917b;
}
